.home-carousel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .single-slide-wrap {
    width: 100vw;
    height: 100vh;
  }

  img {
    object-fit: cover;
  }
}

.gal-carousel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
