#gallery-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  overflow: scroll;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: both mandatory;
  -webkit-scroll-snap-destination: 50% 50%;
  scroll-snap-destination: 50% 50%;
}

#gallery-wrap img {
  -webkit-scroll-snap-coordinate: 50% 50%;
  scroll-snap-coordinate: 50% 50%;
  scroll-snap-align: center;
}

.gallery-icon-direction {
  font-size: 40px;
  line-height: 30px;
}
