img {
  max-width: 100%;
}

#gallery-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
  white-space: nowrap;
  overflow: scroll;
  //-webkit-scroll-snap-type: proximity;
  //scroll-snap-type: both proximity;
  //-webkit-scroll-snap-destination: 50% 50%;
  //scroll-snap-destination: 50% 50%;
}

//.gallery-img {
//-webkit-scroll-snap-coordinate: 50% 50%;
//scroll-snap-coordinate: 50% 50%;
//scroll-snap-align: center;
// border-right: 4px solid #fff;
//}

// .gallery-img:last-child {
//   border: none;
// }

.gallery-icon-direction {
  cursor: pointer;
  font-size: 40px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.25);
}

.gallery-icon-direction:hover {
  color: #fff;
}

.project-title {
  position: absolute;
  left: 0;
  bottom: calc((-50vh + 78px) + 1rem);
}

#project-content-wrapper {
  border-right: 4px solid #fff;
}

#project-content {
  white-space: normal;
  margin-top: -5px;
}

.port-wrap {
  display: flex;
  flex-wrap: wrap;
}
