//Grids
body {
  overflow: hidden;
  background-color: #fff;
}

.z-1000 {
  z-index: 1000;
}

.h-minusnav {
  overflow: scroll;
  height: 100vh;
  padding-bottom: 144px !important;
}

.d-full {
  position: absolute;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
}

hr {
  border: none;
  width: 100%;
  height: 2px;
  background-image: url("../../images/brd-line.png");
  background-repeat: repeat-x;
  background-size: auto 2px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.35));
}

.container-content-fixed {
  position: fixed;
  z-index: 10001;
  bottom: 78px;
  left: 0;
  max-height: calc(50vh - 78px);
}

.rounded,
.card {
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
}
